/* CHARACTER */

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.characterPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.characterPresentation {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #ec1d24;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 30px;
  align-items: center;

  h2 {
    font-size: 24px;
  }
  .profilePicture {
    width: 100%;
    aspect-ratio: 1/1; //give the profile picture a 1:1 ratio
    margin-top: 20px;
    object-fit: cover;
  }

  .characterInfo {
    text-align: justify;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    p {
      margin-top: 20px;
    }
  }
}

/* CharacterComics */
.comicsPart {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 24px;
    align-self: center;
    margin-bottom: 20px;
  }
}

.characterComics {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  padding-bottom: 20px;
  .comicsCover {
    width: 170px;
    height: 260px;
    margin-right: 10px;
  }
}

.highlight {
  .comicsCover {
    height: 286px;
    width: 187px;
    transition-duration: 0.5s; //the size change smoothly
    box-shadow: 10px 10px 10px grey;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 3px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }
}

.comicsHighlight {
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
}

@media (min-width: 550px) {
  .characterPresentation {
    flex-direction: column;
    // display: block;
    // height: 440px;
    margin: 20px auto;

    h2 {
      font-size: 40px;
    }
    div {
      display: flex;
      .profilePicture {
        width: 340px;
      }
    }
  }

  .characterInfo {
    // background-color: green;
    display: flex;
    justify-content: center;
    padding: 20px;

    font-size: 20px;
  }
}
