/* CHARACTER */

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.characterPage {
  display: flex;
  flex-direction: column;
}

.characterPresentation {
  display: flex;
  background-color: blue;
  h2 {
    font-size: 24px;
  }
  img {
    width: 180px;
  }
}

/* CharacterComics */

.characterComics {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  .comicsCover {
    width: 170px;
    height: 260px;
  }
}

.highlight {
  .comicsCover {
    height: 286px;
    width: 187px;
    transition-duration: 0.5s; //the size change smoothly
  }
}
