section {
  .title {
    display: flex;
    align-items: center;
    h1 {
      margin: 10px 0;
      font-size: 20px;
    }

    .angle {
      margin-left: 10px;
    }
  }
  .notVisible {
    display: none;
  }
}

.favoritesCharacter,
.favoritesComics {
  display: flex;
  flex-wrap: wrap;

  .characterFav {
    position: relative;
    box-sizing: border-box;
    padding: 0 10px 10px 0;

    &:nth-child(odd) {
      //avatar's don't have strict width and space between is likely the same
      width: calc((100% / 2));
      padding-left: 10px;
    }
    &:nth-child(even) {
      width: calc(
        (100% / 2) - 10px
      ); //-10px compensate the padding of the last child of the line
    }
    div {
      position: relative;

      h2 {
        position: absolute;
        background-color: green;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: center;
        color: white;
      }
      img {
        width: 100%;
        aspect-ratio: 1/1;
      }
      div {
        display: none;
      }
    }
  }
  .comicsFav {
    position: relative;
    box-sizing: border-box;
    padding: 0 10px 10px 0;

    &:nth-child(odd) {
      //avatar's don't have strict width and space between is likely the same
      width: calc((100% / 2));
      padding-left: 10px;
    }
    &:nth-child(even) {
      width: calc(
        (100% / 2) - 10px
      ); //-10px compensate the padding of the last child of the line
    }
    div {
      position: relative;

      h2 {
        position: absolute;
        background-color: green;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: center;
        color: white;
      }
      img {
        width: 100%;
        aspect-ratio: 170/260;
      }
      div {
        display: none;
      }
    }
  }
}

@media (min-width: 925px) {
  .favoritesCharacter,
  .favoritesComics {
    .characterFav,
    .comicsFav {
      &:nth-child(n) {
        //4 avatar per pages
        width: calc(
          (100% / 4) - 10px
        ); //-10px compensate the padding of the last child of the line
        padding: 0 0 10px 10px;
      }
      &:nth-child(4n) {
        width: calc((100% / 4));
        padding-right: 10px;
      }
      p {
        font-size: 16px;
      }

      div:hover {
        justify-content: center;
        color: white;

        div {
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
          p {
            margin: 20px;
            text-align: justify;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .favoritesCharacter,
  .favoritesComics {
    .characterFav,
    .comicsFav {
      &:nth-child(n) {
        //5 avatar per pages
        width: calc(
          (100% / 5) - 10px
        ); //-10px compensate the padding of the last child of the line
        padding: 0 0 10px 10px; //reset for all childs the basic padding
      }
      &:nth-child(5n) {
        width: calc((100% / 5));
        padding-right: 10px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 1700px) {
  .favoritesCharacter,
  .favoritesComics {
    .characterFav,
    .comicsFav {
      p {
        font-size: 24px;
      }
    }
  }
}
