/* HEADER */
header {
  background-color: #ec1d24;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2Opx;
  height: 50px;
  position: sticky;
  top: 0px;
}

.logo {
  height: 45px;
}

.menu {
  color: white;
  margin: 10px;
}

.loupe {
  color: white;
}

.searchBar {
  border: 1px solid black;
  background-color: black;
}
