/* HOME */
.allComics,
.allCharacters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .avatar,
  .comics {
    box-sizing: border-box;
    padding: 0 10px 10px 0;

    &:nth-child(odd) {
      //avatar's don't have strict width and space between is likely the same
      width: calc((100% / 2));
      padding-left: 10px;
    }
    &:nth-child(even) {
      width: calc(
        (100% / 2) - 10px
      ); //-10px compensate the padding of the last child of the line
    }

    .character {
      display: flex;
      flex-direction: column;
      width: 100%;
      aspect-ratio: 1/1;
      position: relative;

      h2 {
        position: absolute;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: center;
        color: white;
      }
      div {
        display: none;
      }
      .characterPicture {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.comicsTitle,
.characterName {
  font-size: 18px;
}

.star {
  position: absolute;
  color: rgba(0, 0, 0, 0.8);
  margin: 5px;
  z-index: 2;
}

.favorites {
  color: gold;
}

.comics {
  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 170/260;
    position: relative;
    div {
      display: none;
    }
  }

  h2 {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    text-align: center;
    color: white;
  }

  .comicsCover {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  button {
    width: 80px;
    border-radius: 5px;
  }
}

.page {
  padding: 0 10px;
}

@media (min-width: 925px) {
  .allCharacters,
  .allComics {
    .avatar,
    .comics {
      &:nth-child(n) {
        //4 avatar per pages
        width: calc(
          (100% / 4) - 10px
        ); //-10px compensate the padding of the last child of the line
        padding: 0 0 10px 10px;
      }
      &:nth-child(4n) {
        width: calc((100% / 4));
        padding-right: 10px;
      }
      .character:hover,
      div:hover {
        justify-content: center;
        color: white;

        div {
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
          p {
            margin: 20px;
            text-align: justify;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .charactersPage,
  .comicsPage {
    .allCharacters,
    .allComics {
      .avatar,
      .comics {
        &:nth-child(n) {
          //5 avatar per pages
          width: calc(
            (100% / 5) - 10px
          ); //-10px compensate the padding of the last child of the line
          padding: 0 0 10px 10px; //reset for all childs the basic padding
        }
        &:nth-child(5n) {
          width: calc((100% / 5));
          padding-right: 10px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 1700px) {
  .charactersPage,
  .comicsPage {
    .allCharacters,
    .allComics {
      .avatar,
      .comics {
        p {
          font-size: 24px;
        }
      }
    }
  }
} ;
