/* HOME */
.allComics,
.allCharacters {
  display: flex;
  /* flex-direction: column; */
  /* background-color: green; */
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.comicsTitle,
.characterName {
  font-size: 12px;
}

.comics,
.character {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 150px;
  border: 3px solid black;
}

.comicsCover,
.characterPicture {
  height: 200px;
  width: 132px;
  display: flex;
  align-self: center;
  margin: 10px;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.buttons {
  button {
    width: 80px;
  }
}

.page {
  padding: 0 10px;
}
