/* Navigation */
nav {
  background-color: #ec1d24;
  position: sticky;
  bottom: -1px;
  height: 45px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  div {
    padding: 10px;
    span {
      display: none;
    }
  }
}

.link {
  color: white;
}

.link:active {
  color: black;
}

@media (min-width: 769px) {
  nav {
    flex-direction: column;
    width: 300px;
    height: auto;
    align-items: flex-start;
    align-self: flex-end;

    position: fixed;
    top: 50px;
    height: 300px;

    div {
      display: flex;
      align-items: center;
      span {
        margin-left: 20px;
        display: flex;
      }
    }
  }

  .menuVisible {
    display: none;
  }
}
